/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --paragraph__title-color: #000028;
  color: var(--paragraph__title-color);
  font-size: var(--font-size-small);
}

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --paragraph__title-color: #000028;
}

/* Остальные стили */

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme_dark .header__rec {
  color: var(--accent-color);
  display: flex;
  flex-direction: row;
  line-height: 1.563rem;
  grid-row: 1/1;
  grid-column: 6/6;
  align-self: start;
  justify-self: end;
  padding-right: 1.5rem;
  padding-top: 1.2rem;
}


.theme_dark .decorated-zone::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  right: 1.3rem;
  top: 1.2rem;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::after {
  position: absolute;
  height: 25px;
  width: 25px;
  content: "";
  top: 45rem;
  left: 1.2rem;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

  @media (max-width: 767px) {
  .theme_dark .header__rec {
    /* grid-column: 8/8; */
    justify-content: start;
    justify-self: end;
    position: absolute;
    padding-top: 0.5rem;
    padding-right: 1.1rem;
  }

  .theme_dark .header {
    /* margin-bottom: 3rem; */
    position: relative;
  }

  .theme_dark .decorated-zone::after {
    position: absolute;
    height: 25px;
    width: 25px;
    content: "";
    top: 39.5rem;
    left: 0.7rem;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }

  .theme_dark .decorated-zone::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    right: 0.5rem;
    top: 0.5rem;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
}

}