/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-image: url(../images/cover-image-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: 1.125rem;
    color: var(--paragraph__title-color);
  }
  
  
  li {
    list-style-type: none;
  }

  p {
    color: var(--text-color);
  }
  
  p, h3 {
    line-height: 23.4px;

  }

  .content-section {
    padding: 0 1.25rem;
  }


  .header {
    /* padding: 1.25rem 0; */

    position: relative;
    margin-bottom: 12.5rem;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    /* grid-template-rows: 0.3fr 1.15fr 0.4fr 0.4fr 0.3fr; */
    /* grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr; */
    /* padding: 0 1.25rem 1.253rem 0.3rem ; */
    }

  .header__theme-menu {
    padding-top: 1rem;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: lowercase;
    gap: 1.7rem;
    margin-left: 2rem;
    /* margin-block-start: 0.5rem; */
  }

  .header__theme-menu-item:last-of-type {
    margin-right: 1rem;
  }
  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    text-transform: lowercase;
  }

  .header__theme-menu-button {
    color: var(--accent-color);
    background-color: transparent;
    border: none;
    
  }
  
  .header__rec {
    position: absolute;
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    line-height: 1.563rem;
    /* grid-row: 1/1;
    grid-column: 6/6; */
    grid-row: 1/1;
    align-self: start;
    justify-self: end;
    padding-right: 1.5rem;
    padding-top: 1.2rem;
  }
  
  .header__rec::after {
    content: "";
    width: 3%;
    height: 22px;
    background-image: url("../images/ellipse.png");
    background-repeat: no-repeat;
    object-fit: cover;
    padding-right: 1.3rem;
    margin-top: 2px;
    filter: drop-shadow(0px 0px 4px #FF0070);
  }

  .decorated-zone::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    right: 1.3rem;
    top: 1.2rem;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    position: absolute;
    height: 25px;
    width: 25px;
    content: "";
    top: 45rem;
    left: 1.2rem;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }

  .h1__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--title-color);
    font-weight: var(--font-weight-bold);
    
  }
  
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
    /* grid-column: 1/6;
    grid-row: 3/3; */
    width: 100%;
    /* justify-self: start; */
    padding-right: 1rem;
    margin-block-start: 7rem;
  }
  
  .header__paragraph {
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    /* grid-column: 4/7; */
    color: var(--paragraph__title-color);
    font-weight: var(--font-weight-bold);
    justify-self: end;
    width: 48.4%;
    margin-block-start: 5.5rem;
    align-self: center;
    margin-right: 1.25rem;  }
  
  .h2__title {
    color: var(--accent-color);
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
  }
  
  .how h3 {
    font-weight: var(--font-weight-normal );
  }

  .background-color-accent-color {
    background-color: var(--accent-color);
  }
  
  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 1.25rem;
  }
  
  .list__why-item:first-of-type {
    margin-block-end: 1.25rem;
  }

  .list__why-item h3 {
    margin-block-end: 0.625rem;
  }

  .paragraph_link {
    text-decoration: none;
    text-shadow: 2px 2px 0px #FF0070;
  }

  .paragraph_link:hover {
    text-decoration: none;
    text-shadow: 2px 2px 0px #FF0070;
    border-bottom: 1px solid var(--accent-color);
  }
  
  .paragraph_link:focus {
    text-decoration: none;
    text-shadow: 2px 2px 0px #FF0070;
    border: 1px solid var(--accent-color);
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 50% 40%;
    gap: 1.25rem;
    margin-block-start: 5rem;
  }
  
  .what-title {
    grid-column: 1/2;
  } 

  .what__item:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;
  }

  .what__item:nth-of-type(3) {
    grid-row: 2;
    grid-column: 3;
  }

  .what__item:first-of-type {
    grid-row: 2;
    grid-column: 1;
  }

  .what__item p {
    margin-block-start: 0.625rem;
  }

  .to-do {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    margin-block-start: 4rem;
  }
  
  
  .how p:not(:last-of-type) {
    margin-block-end: 1.2rem;
  }

  .how p:last-of-type {
    margin-block-end: 5rem;
  }
  
  .how h3 {
    font-weight: var(--font-weight-bold);
    margin-block-end: var(--margin-small);
  }

  .how h4 {
    font-weight: var(--font-weight-normal);
    margin-block-end: 0.625rem;
  }
  
  .title_images {
    /* margin: 1.25rem 1rem; */
    grid-area: title;
    color: var(--paragraph__title-color);
    background-color: var(--accent-color);
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "title title title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    gap: 1.25rem;
    /* padding: 0 1.25rem; */
  }

  .sunset {
    grid-area: sunset;
  }
  
  .ice-cream {
    grid-area: ice-cream;
  }

  .books {
    grid-area: books;
  }
  
  .street {
    grid-area: street;
  }

  .tape {
    grid-area: tape;
  }

  .image {
    display: block;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .title-decor {
    color: var(--text-color);
  }
  
  .footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr ;
    grid-template-rows: 1.60fr 1fr 1.20fr;
    /* padding: 1.25rem; */
    position: relative;
  }
  
  .footer__title {
    display: grid;
    text-shadow: 2px 2px 0px var(--accent-color);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
  } 


  @media (min-width: 768px) and (max-width: 1023px) {
    .what {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-block-start: 5rem;
    }

    .header {
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      /* grid-template-columns: repeat(3, 0.3fr); */
      /* margin-bottom: 11rem; */
    }

    .header__rec {
      /* grid-column: 8/8; */
      justify-content: start;
      justify-self: end;
      /* position: absolute; */
    }

    .header__theme-menu {
      gap: 0.2rem;
      align-self: end;
      justify-self: end;
      padding-top: 11rem;  
      padding-right: 1rem  
    }

    .header__theme-menu-list {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
      /* padding-left: 2rem; */
    }
    
    .header__theme-menu-item:nth-of-type(1) {
      margin-block-start: 1rem;
    }

    .header__theme-menu-item:nth-of-type(2) {
      padding-bottom: 0.6rem;
    }

    .header__theme-menu-item:last-of-type {
      margin-right: 0rem;
    }
    .header__title {
      display: grid;
      /* grid-column-start: 1; */
      /* grid-column-end: span 6; */
      /* grid-row: 5/5; */
      padding-top: 1.6rem;
    }
    

    .what-title {
      /* display: grid; */
      /* grid-template-columns: repeat(4, 1fr); */
      /* grid-column: 1/1; */
      width: 30%;

    }

    .to-do {
      padding-top: 0.5rem;
    }


    .how h4 {
      margin-block-start: 1.45rem;
    }
    
    .how h4:last-of-type {
      margin-block-start: 3rem;
    }

    .how h4:nth-of-type(4) {
      margin-block-start: 2.2rem;
    }

    .how p {
      margin-block-start: 0.625rem;
    }

    .how h3 {
      font-size: 1.125rem;
    }

    .footer__title {
      padding-top: 5.5rem;
    }
  }

  @media (max-width: 767px) {
    .decorated-zone::after {
      position: absolute;
      height: 25px;
      width: 25px;
      content: "";
      top: 39.5rem;
      left: 0.7rem;
      border-left: 1px solid var(--accent-color);
      border-bottom: 1px solid var(--accent-color);
    }

    .header {
      position: relative;
      margin-bottom: 3rem;
    }

    .header__rec {
      position: absolute;
      padding-top: 0;
    }

    .decorated-zone::after {
      position: absolute;
      height: 25px;
      width: 25px;
      content: "";
      top: 39.5rem;
      left: 0.7rem;
      border-left: 1px solid var(--accent-color);
      border-bottom: 1px solid var(--accent-color);
    }

    .decorated-zone::before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      right: 0.5rem;
      top: 0.5rem;
      border-top: 1px solid var(--accent-color);
      border-right: 1px solid var(--accent-color);
      border-top: 1px solid var(--accent-color);
    }

    .header__paragraph {
      width: 95%;
      margin: 0;
      justify-self: center;
      margin: 0 0.25rem;
    }

    .header__theme-menu-list {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
      /* padding-left: 2rem; */
    }

    .header__title {
      margin: 0;
      line-height: 82.5%
    }

    .header__theme-menu {
      justify-self: end;
      align-self: end;
      margin-top: 3.6rem;
      margin-right: 1.3rem;
    }

    .header__theme-menu-item:last-of-type {
      margin: 0;
    }

    .why {
      display: flex;
      flex-direction: column;
    }

    .what {
      display: flex;
      flex-direction: column;
      margin-block-start: 3.3rem;
    }

    .to-do {
      display: flex;
      flex-direction: column;
      margin-block-start: 3rem;
    }

    .how h3 {
      font-size: var(--font-size-small);
      margin-block-start: 1.5rem;
    }

    .how p:last-of-type {
      margin-block-end: 3.5rem;
  }

    .footer__title {
      justify-items: center;
    }

    .header__theme-menu {
      padding-bottom: 4rem;
    }

    .images {
      display: block;
    }

    .image {
      margin-block-start: 0.625rem;
    }

    .footer {
      padding: 0;
    }
  
    .footer__title {
      margin-block-start: 1.1rem;
    }

    .content-section{
      padding: 0 0.625rem;
    }
  }